

html {
  color-scheme: light;
  
  &.dark {
    color-scheme: dark;
  }
}

body {
  background-color: var(--primary-bg);
}

/* Farvevariabler */
html {
  /* Primary colors */
  --primary-bg: light-dark(#fff, #2d2d2d);
  /* --primary-bg: light-dark(#fff, #5d5d5d); */
  --header-footer-bg: light-dark(#f5e8de, #1d1d1d );

  /* Font colors */
  --text-color: light-dark(#000, #fff);
  --text-inverted: #fff;

  /* Buttons */
  --primary-btn: #763f81;
  --arrow-btn: #f5e8de;

  /* Cards */
  --podcast-card-bg: #561269;
  --book-card-bg: light-dark(#f5e8de, #5d5d5d);
  /* --book-card-bg: light-dark(#f5e8de, #8f8882); */
  --filter-bg: light-dark(#fff, #1d1d1d);
  --reviews-card-bg: #763f81;
  --om-os-card-bg: #763f81;
  --individual-card-bg: #5a3162;
  --forms-bg: light-dark(#c5aabb, #8B7A85);
  --linje: light-dark(#9f769e, #561269);
}

/* Fonts Desktop */
h1 {
  font-family: "Cinzel Decorative Bold";
  font-size: 3rem;
}
h2 {
  font-family: "Cinzel Decorative Bold";
  font-weight: 600;
  font-size: 1.75rem;
}
h3 {
  font-family: "Poppins Bold";
  font-weight: 700;
  font-size: 1.5rem;
}
h4,
.kob-btn {
  font-family: "Poppins Regular";
  font-weight: 400;
  font-size: 1.375rem;
}
h5 {
  font-family: "Poppins Regular";
  font-weight: 600;
  font-size: 1.25rem;
}

p,
.login-btn,
.opret-btn,
label,
span,
.btn {
  font-family: "Poppins Light";
  font-weight: 300;
  font-size: 1.25rem;
}

nav {
  font-family: "Poppins Light";
  font-weight: 300;
}

/* Light/dark mode */

[role="switch"] {
  --h: 2rem;
  --w: 3rem;
  /* font: inherit; */
  appearance: none;
  background: rgb(255, 255, 255);
  height: var(--h);
  width: var(--w);
  border: 2px solid var(--linje);
  cursor: pointer; 
  border-radius: 20px;
  padding: 2px;
}

[role="switch"]::before{
  content: "";
  display: block;
  height: 100%;
  aspect-ratio: 1; 
  background: var(--linje);
  border-radius: inherit;
  transition: .3s;
}


[role="switch"]:checked::before {
  background-color: var(--podcast-card-bg);
  translate: calc(var(--w) - var(--h));
}

.visually-hidden {
  position: absolute;
  /* width: 1px; */
  /* height: 1px; */
  /* overflow: hidden; */
  /* white-space: nowrap; */
  clip-path: inset(100%);
}

.theme-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.theme-wrapper label {
  display: flex;
  align-items: center;
}

.theme-label {
  font-size: 0.75rem;
  color: var(--linje);
}

/* Fonts Mobile */
@media (max-width: 800px) {
  h1 {
    font-family: "Cinzel Decorative Bold";
    font-weight: 700;
    font-size: 2rem;
  }
  h2 {
    font-family: "Cinzel Decorative Bold";
    font-weight: 600;
    font-size: 1.625rem;
  }
  h3 {
    font-family: "Poppins Bold";
    font-weight: 500;
    font-size: 1.4rem;
  }
  h4,
  .kob-btn {
    font-family: "Poppins Regular";
    font-weight: 400;
    font-size: 1.375rem;
  }
  h5 {
    font-family: "Poppins Regular";
    font-weight: 600;
    font-size: 1.25rem;
  }

  p,
  .login-btn,
  .opret-btn,
  label,
  span,
  .btn {
    font-family: "Poppins Light";
    font-weight: 300;
    font-size: 1rem;
  }

  nav {
    font-family: "Poppins Light";
    font-weight: 300;
    font-size: 1.375rem;
  }  
}
